div.image-modal {
    overflow-x: hidden;
    width: 100%;
    margin: -9em auto 0 auto;
    transition: all 0.2s ease-in-out;
    bottom: 0;
    z-index: 6;
    position: fixed;
    height: 0;
    background-color: #00000087;
    color: white;
    font-weight: bolder;
    text-align: center;
}

div.image-modal button.closeimage {
    border: none;
    margin: 1em 0 1em 0;
    outline: none;
    padding: 1em;
    background-color: red;
    color: white;
    cursor: pointer;
}

div.image-modal-active {
    height: 100%;
}

div.image-container {
    margin: 0 auto 2em auto;
    width: 90%;
    overflow: auto;
}

section.gallery-wrapper {
    width: 100%;
    margin: 7em auto 0 auto;
    padding: 3em 0 3em;
    text-align: center;
    font-size: 1.2em;
}

section.gallery-container {
    width: 100%;
    display: -ms-flexbox;
    margin: 2em auto 2em auto;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    background-color: black;
}

.icon {
    margin: 1em auto 1em auto;
    display: block;
}

section.gallery-wrapper h.gallery-title {
    font-weight: bolder;
    font-size: 1.4em;
    color: black;
    letter-spacing: 0.2em;
    padding: 1em;
}

section.gallery-container div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: .5vw;
}

section.gallery-container div img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

@media only screen and (min-width: 1224px) {
    section.responsive-container {
        width: 1000px;
    }
    div.image-container {
        width: 1000px;
    }
}

@media only screen and (min-width: 1824px) {
    section.responsive-container {
        width: 1000px;
    }
    div.image-container {
        width: 1000px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    section.responsive-container {
        width: 100%;
    }
    div.image-container {
        width: 90%;
    }
}