header.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    font-size: 1.6em;
    padding: 1em 0em 1em 0;
    box-shadow: -3px 1px 12px grey;
    overflow: hidden;
    z-index: 5;
}

header.nav-bar a {
    float: left;
    margin-left: 1em;
}

header.nav-bar a:link,
header.nav-bar a:hover,
header.nav-bar a:active,
header.nav-bar a:visited {
    text-decoration: none;
    color: black;
}

header.nav-bar a img {
    width: 1.5em;
    height: 2em;
    margin-bottom: -0.5em;
    margin-left: -0.5em;
}

header.nav-bar span.icon-menu {
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;
    cursor: pointer;
}