div.map-modal {
    overflow-x: hidden;
    width: 0;
    margin: -9em auto 0 auto;
    transition: all 0.5s linear;
    left: 0;
    z-index: 6;
    position: fixed;
    height: 100%;
    background-color: #00000087;
    color: white;
    font-weight: bolder;
    padding: 2em 0 2em 0;
    text-align: center;
}

div.map-modal button.closemap {
    border: none;
    margin: 0.4em 0 0.4em 0;
    outline: none;
    padding: 1em;
    background-color: red;
    color: white;
    cursor: pointer;
}

div.map-modal-active {
    width: 100%;
}

div.map-container {
    margin: 0 auto 0 auto;
    width: 90%;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: white;
}

@media only screen and (min-width: 1224px) {
    div.map-container {
        width: 600px;
    }
}

@media only screen and (min-width: 1824px) {
    div.map-container {
        width: 600px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    div.map-container {
        width: 90%;
    }
}