nav.sidenav {
    overflow-x: hidden;
    width: 0;
    margin-top: -3em;
    transition: all 0.1s linear;
    right: 0;
    position: fixed;
    z-index: 5;
    height: 100%;
    background-color: white;
    color: black;
    font-weight: bolder;
    box-shadow: -2px -1px 17px 0px grey;
}

nav.sidenav ul {
    padding-left: 0;
}

nav.sidenav ul li {
    list-style-type: none;
    padding: 1em;
    border-bottom: 0.05px solid black;
}

nav.sidenav a {
    display: block;
    width: 100%;
}

nav.sidenav a:link,
nav.sidenav a:hover,
nav.sidenav a:visited,
nav.sidenav a:active {
    color: black;
    text-decoration: none;
}

nav.sidenav img {
    width: 1em;
    height: 1em;
    margin-right: 1em;
}

nav.sidenav-active {
    width: 70%;
}

@media only screen and (min-width: 1224px) {
    nav.sidenav-active {
        width: 250px;
    }
}

@media only screen and (min-width: 1824px) {
    nav.sidenav-active {
        width: 250px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    nav.sidenav-active {
        width: 70%;
    }
}